.about{
  margin: 175px 50px;
}

.about__column{
  display: grid;
  grid-template-columns: 430px 885px;
  grid-template-rows: 1fr;
  column-gap: 25px; 
}

.about__logo{
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
justify-content: center;
align-items: center;
justify-self: center;
margin-top: 10px;
}

.about__logo-image{
  width: 148px;
  height: 114px;
}

.about__text{
font-size: 20px;
padding-top: 25px;
}

.about__title{
font-size: 40px;
line-height: normal;
text-transform: uppercase;
padding-top: 110px;
padding-bottom: 75px;
}