.about {
  margin: 175px 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

.about__logo {
  background-color: black;
  width: 240px;
  max-height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-top: 4px;
  margin-right: 15px;
}

.about__logo-image {
  width: 148px;
  max-height: 114px;
}

.about__text {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  padding-top: 25px;
}

.about__title {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 106px;
  padding-bottom: 75px;
  font-weight: 700;
  /*   font-weight: 700; используя параметр ничего не меняется... */
}
