.cover{
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover.jpg);
}
.overlay{
  opacity: 0.6;
}

.cover__title{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 165px 50px 128px;
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_center{
  align-self: center;
    padding-right: 62px;
    padding-top: 16px;
}

.aligned-text_right{
  align-self: flex-end;
  letter-spacing: 30px;
}
.aligned-letter{
  padding-right: 30px;
}

.cover__description{
  display: flex;
  /* justify-content: end; */
  align-items: center;
  padding-left: 422px;
  padding-right: 50px;
  padding-bottom: 55px;
}


.cover__description-text{
  padding-right: 82px;
  color: #FFF;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button{
  border: 1px solid #FFF;
  padding: 12px 32px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  background: transparent;
}