.footer {
  margin: 180px 50px 90px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-list {
  font-family: "Raleway", sans-serif, Arial;
  font-size: 18px;
  list-style-type: none;
  line-height: 21px; 
  /* в фигме line-height 21.13px, в разделе типография */
  text-align: center;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.footer__social-list-item {
  width: 48px;
  max-height: 48px;
}
