.header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  align-items: center;
  gap: 45px;
  margin: 92px 50px;
}

.header__menu {
  max-width: 390px;
  /* display: flex;
flex-direction: row; */
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style-type: circle;
}
.header__links-list-item {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px; /* отступ  линии*/
  letter-spacing: -1px;
}

.header__link_active {
  text-decoration: none;
  list-style-type: none;
}

.address {
  font-style: normal;
  line-height: 24.3px;
  justify-self: center;
  max-width: 240px;
  font-size: 18px;
  text-underline-offset: 4px;
  letter-spacing: -1px;
  margin-left: 58px;
}

.address__list {
  list-style-type: none;
}

.header__address {
  /* padding-bottom: 3px; */
}

.header__logo {
  width: 120px;
  /* margin-left: 125px; */
}
