.header {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  align-items: center;
  gap: 165px;
  margin: 92px 50px;
}

.header__menu {
  max-width: 390px;
  margin-top: 8px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style-type: circle;
}
.header__links-list-item {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px; /* отступ  линии*/
}

.header__link_active {
  text-decoration: none;
  list-style-type: none;
}

.address {
  font-family: "Raleway", Arial, sans-serif;
  font-style: normal;
  line-height: 24.3px;
  justify-self: right;
  max-width: 240px;
  font-size: 18px;
  text-underline-offset: 4px;
  align-self: center;
}

.address__list {
  list-style-type: none;
}

.header__logo {
  width: 143px;
  margin-top: 5px;
}
