.lots {
  margin: 180px 50px 175px;
}

.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 25px 0px 32px;
  list-style-type: none;
}

.lots__card-list-item {
  /* flex-grow: 1; не пригодился*/
}

.card-link {
  text-decoration: none;
}
.card {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 430px;
  min-height: 450px;
  padding: 50px 40px;
}

.card__title {
  color: #fff;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  line-height: normal;
  text-underline-offset: 4px;
}
